.login{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/notebook-natural-laptop-macbook.jpg);
    background-size: cover;
    background-position: center;
    height: 86vh;
}

body{
    overflow: hidden;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    height: 410px;
    font-family: montserrat;
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    font-weight: 700;
}

.center form{
    padding: 0 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background:  #fd7474;
    transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #fd7474;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: #fd7474;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #17e9ae;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-top: 10%;
}

input[type = "submit"]:hover{
    transform: scale(1.03);
    background: #15dba3;
    transition: 0.5s;
    transition: transform .9sec;
}

.incorrect{
    color: red;
    font-weight:500;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .login{
        height: 120vh;
    }
    .center{
        top: 68%;
    }
}